!!!
%html{:lang => 'en'}
    %head
        %title
            KCoin Project
        %meta{:charset => 'utf-8'}
        %meta{:name => 'viewport', :content=>'width=device-width, initial-scale=1, shrink-to-fit=no'}

        = include_stylesheet 'https://cdn.metroui.org.ua/v4/css/metro-all.min.css'
        = content :stylesheets

        = include_javascript 'https://code.jquery.com/jquery-3.3.1.min.js'
        = include_javascript 'https://cdn.metroui.org.ua/v4/js/metro.min.js'

    %body
        .container{:style => 'padding:20px;'}
            .grid
                .row{:align=>'right'}
                    .cell-12
                        = current_user.name
                        &nbsp;
                        %a{:href=>'/auth/logout'}
                            Logout
            #body{:style => 'min-height: 600px;'}
                = yield
            .grid
                .row{:align => 'center', :style => 'padding:20px 0px;'}
                    .cell-12
                        &nbsp;
                        = link_to('Home', '/')
                        &nbsp;
                        = link_to('Dashboard', '/user')
                        &nbsp;
                        = link_to('Document', '/doc')
                        &nbsp;
                        = link_to('Download', '/download')
                        &nbsp;
                        = link_to('Explorer', '/explorer')
                        &nbsp;
                        = link_to('Club', '/club')
                        &nbsp;
                        = link_to('Blog', '/blog')
                        &nbsp;
                        = link_to('Code', '/code')
                        &nbsp;
                        = link_to('About', '/about')

        = content :javascripts